* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app header {
  background-color: rgba(50, 50, 255, 0.8);
  color: white;
  padding: 1rem;
}

.app header h1 {
  font-size: 1.5rem;
}

.columns {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.item-list {
  list-style: none;
  margin: 0;
  padding: 0 0.5rem;
  flex: 1;
  height: 100%;
  overflow: auto;
}

.item-list.focused {
  background-color: rgba(50, 50, 255, 0.2);
}

.item-list.focused .item {
  background-color: rgba(50, 50, 255, 0.3);
}

.item-list .item {
  line-height: 3rem;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.item-list li:last-child {
  margin-bottom: 0;
}

.item-list .item.selected {
  background-color: rgba(50, 50, 255, 0.8);
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.modal.visible {
  opacity: 1;
}

.modal:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal .modal-content {
  position: relative;
  z-index: 20;
  width: 500px;
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 5rem auto 0 auto;
}

.modal .modal-content h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.modal .modal-content .modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

.modal .modal-content .modal-close:hover {
  cursor: pointer;
}

.modal .modal-content form {
  display: flex;
  flex-direction: column;
}

.modal .modal-content form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.modal .modal-content form button {
  line-height: 2rem;
}
